.background {
  background-color: var(--background-color-1);
  color: var(--secundeary-text-color);

  margin: 0 15%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: auto;
  min-height: 100vh;
  width: 60%;
  padding: 0 5%;
  margin: 0 15%;
  overflow-y: hidden;
}

main {
  background-image: url(../resources/IMG_0081.JPEG);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.subscriptions-list {
  color: var(--secundeary-text-color);
}

.sub-title {
  justify-self: flex-start;
  font-size: 2rem;
  justify-self: start;
}

sub-name {
  font-size: 1rem;
}

sub-price {
  font-size: 1rem;
}

@media only screen and (max-width: 429px) {
  .sub-title {
    font-size: 1.75rem;
  }
  
  sub-name {
    font-size: 0.75rem;
  }
  
  sub-price {
    font-size: 0.75rem;
  }
}