.info-pack-grid {
  display: grid; 
  align-content: center;
  grid-template-columns: 1fr 1fr;
  background: var(--background-color-2);
  background: linear-gradient(90deg, var(--background-color-1) 5%, var(--background-color-2) 95%, var(--background-color-1) 100%);
  padding: 50px 5%;
}

main {
  color: var(--secundeary-text-color);
  padding: 0 15%;
  background: var(--background-color-1);
  background: linear-gradient(160deg, var(--background-color-1) 20%, var(--background-color-3) 50%, var(--background-color-1) 100%);
}

.img {
  width: 100%;
  object-fit: contain;
}

.wrap {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: start;
  align-items: center;
  margin: 0 5%;
  padding: 2% 0;
}

iframe {
  justify-self: flex-end;
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 25px;
}

sub-title {
  font-size: 2rem;
}

.day-time {
  font-size: 1.75rem;
}

@media only screen and (max-width: 1120px) {
  .info-pack-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (max-width: 937px) {
  sub-title {
    font-size: 1.75rem;
  }
  
  .day-time {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 837px) {
  sub-title {
    font-size: 1.5rem;
  }
  
  .day-time {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 723px) {
  sub-title {
    font-size: 1.25rem;
  }
  
  .day-time {
    font-size: 1rem;
  }
}

